Binaries
DerivedDataCache
Intermediate/Build
Intermediate/AssetRegistryCache
Intermediate/ReimportCache
Saved
Source/UnrealFusion/Eigen
ipch
x64
.vs
Release
FusionTesting/x64
*.VC.db
*.opensdf
*.opendb
*.sdf
*.suo
*.xcodeproj
*.xcworkspace
Content/StarterContent/
Plugins/BlankPlugin/
Plugins/Webcamera/
Plugins/PerceptionNeuron/*
Content/PerceptionNeuronOfficial/
Intermediate/CachedAssetRegistry.bin
Plugins/MyBlankPlugin/
Plugins/Spooky/Intermediate/Build/
enc_temp_folder/
.vscode/
sh.exe.stackdump
spooky.sublime-workspace
~$wcastleMuseumManual.docx
